# dependencies
node_modules/
.pnp
.pnp.js

# python
__pycache__/
*.py[cod]
.venv/
venv/

# next.js
.next/
out/
build/
dist/

# env / secrets
.env
.env.*
!.env.example
!.env.local.example
!.env.production.example
!frontend/.env.production.example

# debug / logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# tooling / OS
.DS_Store
*.pem
.vercel
.turbo
*.tsbuildinfo

# IDE
.idea/
.vscode/
